:host {
  display: block;
  margin: 2%;

  .lomo {
    background:
      radial-gradient(
        1000px circle at 50% 50%,
        rgba(255,255,255,0),
        rgba(255,255,255,0),
        rgba(0, 0, 0, 0.5)),;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
}
